/* line 1, app/assets/stylesheets/scaffolds.scss */
pre {
  padding: 10px;
  font-size: 11px;
}

/* line 5, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: red;
}

/* line 8, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 11, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 14, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 18, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 21, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 26, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 33, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 42, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 46, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
