<footer
            class="text-center text-white col-lg-12 col-md-24 footer-area"
          >
            <!-- Grid container -->
            <div class="container pt-4">
              <!-- Section: Social media -->
              <section id="lab_social_icon_footer">
                <!-- Include Font Awesome Stylesheet in Header -->
                <div class="container">
                  <div class="text-center center-block">
                    <a href="https://github.com/Rishabhs343" target="_blank"
                      ><i
                        id="social-github"
                        class="fa fa-github fa-3x social"
                      ></i
                    ></a>
                    <a href="https://gitlab.com/Rshabh" target="_blank"
                      ><i
                        id="social-gitlab"
                        class="fab fa-gitlab fa-3x social"
                      ></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/rishabhs343/"
                      target="_blank"
                      ><i
                        id="social-linkedin"
                        class="fab fa-linkedin-in fa-3x social"
                      ></i
                    ></a>
                    <a href="mailto:rshabh3619@gmail.com" target="_blank"
                      ><i
                        id="social-gmail"
                        class="fas fa-envelope fa-3x social"
                      ></i
                    ></a>
                    <a
                      href="mailto:rishabh.singh@mountblue.tech"
                      target="_blank"
                      ><i id="social-office" class="fas fa-at fa-3x social"></i
                    ></a>
                  </div>
                </div>
              </section>
              <!-- Section: Social media -->
            </div>
            <div class="text-center text-dark p-3 designby para">
              Designed & Built by Rishabh Singh
            </div>
          </footer>